{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Start-Select {{locInfo[0]}}</h1>
    <p class="lead">{{locInfo[1]}}</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><a href="/{{locInfo[2]}}/beer">Beer Menu</a></h2>
        <h4>Draft Beers</h4>
        {% for beer in draftBeers %}
        <div class="beers">
            <p>
                <strong>Brewery:</strong> {{beer[1]}} <br />
                <strong>Name:</strong> {{beer[0]}} <br />
                <strong>Style:</strong> {{beer[2]}} <br />
                <strong>Price:</strong> {{beer[3]}} <br />
            </p>
        </div>
        {% endfor %}
        <h4>Canned/Bottled Beers</h4>
        {% for beer in canBeers %}
        <div class="beers">
            <p>
                <strong>Brewery:</strong> {{beer[1]}} <br />
                <strong>Name:</strong> {{beer[0]}} <br />
                <strong>Style:</strong> {{beer[2]}} <br />
                <strong>Price:</strong> {{beer[3]}} <br />
            </p>
        </div>
        {% endfor  %}
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><a href="/{{locInfo[2]}}/games">Arcade List</a></h2>
        {% for arcade in arcades %}
        <p>
            <strong>Title:</strong> {{arcade[0]}} <br />
            <strong>Publisher:</strong> {{arcade[1]}} <br />
            <strong>Genre:</strong> {{arcade[2]}} <br />
            <strong>Release Year:</strong> {{arcade[3]}} <br />
            <strong>Players: </strong>{{arcade[4]}} <br />
        </p>
        {% endfor %}
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><a href="/{{locInfo[2]}}/">Specials List</a></h2>
        {% for special in specials%}
        <p>
            <strong>Day:</strong> {{special[0]}} <br />
            <strong>Special:</strong> {{special[1]}} <br />
        </p>
        {% endfor %}
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
