<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>{{thisArcade[1]}} - Successfully added</h2>
    <br /><br />
    <h2>Details:</h2>
    <strong>Location: </strong>
    <br />
    <strong>Title: </strong> {{thisArcade[1]}}
    <br />
    <strong>Publisher: </strong> {{thisArcade[2]}}
    <br />
    <strong>Genre: </strong> {{thisArcade[3]}}
    <br />
    <strong>Year: </strong> {{thisArcade[4]}}
    <br />
    <strong>Players: </strong> {{thisArcade[5]}}
    <br />
    <strong>Featured: </strong> {{thisArcade[6]}}
    <br />
    <p><a class="btn btn-default" href="/admin">Return to Dashboard &raquo;</a></p>
    <p><a class="btn btn-default" href="/admin">Cancel &raquo;</a></p>
</body>
</html>