<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Admin - Add Beer</title>
</head>
<body>
    <h2>{{thisBeer[1]}} - Successfully added</h2>
    <br /><br />
    <h2>Details:</h2>
    <strong>Location: </strong> {{thisBeer[0]}}
    <br />
    <strong>Brewery: </strong> {{thisBeer[2]}}
    <br />
    <strong>Name: </strong> {{thisBeer[1]}}
    <br />
    <strong>Style: </strong> {{thisBeer[3]}}
    <br />
    <strong>Price: </strong> {{thisBeer[4]}}
    <br />
    <strong>Draft: </strong> {{thisBeer[5]}}
    <br />
    <strong>ABV: </strong> {{thisBeer[6]}}
    <br />
    <strong>IBU: </strong> {{thisBeer[7]}}
    <br />
    <strong>Featured: </strong> {{thisBeer[8]}}
    <br />
    <p><a class="btn btn-default" href="/admin">Return to Dashboard &raquo;</a></p>
    <p><a class="btn btn-default" href="/admin">Cancel &raquo;</a></p>
</body>
</html>